DB_Connect= { mongodb+srv://<username>:<password>@slackerss.rc575.mongodb.net/?retryWrites=true&w=majority }
RECIPES_API_KEY= { INSERT API KEY}
RECIPES_API_ID= { INSERT API ID }
REACT_APP_AUTH0_DOMAIN= 
REACT_APP_AUTH0_CLIENT_ID= 